@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

@mixin notification($bgcolor, $color, $topval, $rightval) {
  height: 1.8rem;
  width: 1.8rem;
  background-color: $bgcolor;
  color: $color;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: $topval;
  right: $rightval;
  font-size: 1.2rem;
}

html {
  font-size: 62.5%;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  color: rgb(37, 49, 63);
  background-image: linear-gradient(rgba(1, 41, 31, 0.750), rgba(1, 41, 31, 0.750)), url("quantum screen assets/header pattern image.png");

  .header {
    height: 8rem;
    display: inline-block;

    img {
      height: 70%;
      width: 15rem;
      margin-left: 3rem;
      padding-top: 1rem;
    }
  }

  .nav_menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .menu {
      list-style: none;
      padding: 2.5rem 22rem 0rem 0rem;
      display: flex;
      position: absolute;

      .menu_blocks {
        display: flex;
        flex-direction: column;

        .courseCatagory {
          display: none !important;
        }

        .menu_item {
          display: flex;
          height: 6rem;

          li {
            display: inline-block;
            margin-left: 3rem;
            font-size: 1.4rem;

            a {
              text-decoration: none;
              color: #3FD28B;
              margin-top: 0.5rem;

              &:hover {
                text-decoration: none;
                color: white;
              }

              &::after {
                content: '';
                width: 0;
                height: 0.3rem;
                background-color: white;
                display: block;
              }

              &:hover::after {
                width: 100%;
                margin-bottom: -2rem;
                margin-top: 1.5rem;
              }
            }
          }

          .ig {
            display: none;
          }

        }
      }
    }

    .nav_icons {
      display: flex;
      margin-right: 1.5rem;
      margin-top: 0.8rem;
      align-items: center;

      .alert_div {

        height: 4rem;

        .alert_notification {
          @include notification(#2A7FF3, #ffffff, -4rem, -1.6rem);
        }


        .alert_icon {
          width: 3rem;

        }
      }

      .alert_dropdown {
        display: none;
        position: absolute;
        top: 6.9rem;
        right: 14rem;
        width: 22rem;
        height: 30rem;
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        overflow: hidden; 
        transition: all 0.5s ease-in-out;


        .alerts {
          height: 87%; 
          overflow-y: auto; 
          &::-webkit-scrollbar {
            width: 3px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          &::-webkit-scrollbar-thumb {
            background: #979797;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          .alertdata {
            background-color: #FFFFEE;
            padding: 1rem;

            .alertflex {
              font-size: 1rem;
              display: flex;

              .alertimage {
                height: 1rem;
                width: 1rem;
                margin-left: auto;
                margin-top: 0.2rem;
              }
            }

            .alertcourse {
              font-size: 0.8rem;
              margin: 0.4rem 0 0.4rem 0;

              span {
                color: #6E6E6E;
              }
            }

            .alertdate {
              font-size: 0.7rem;
              color: #6E6E6E;
              display: flex;
              justify-content: flex-end;
            }
          }
        }


        .alertbutton {
          top: 32.5rem;
          height: 2rem;
          width: 22rem;
          text-align: center;
          padding: 1.2rem 0 0.8rem 0;
          background-color: #FFFFFF;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 10px;
          color: #1F7A54;
          font-size: 1.2rem;
        }
      }



      .announcement_div {
        margin-left: 3rem;

        .announcement_notification {
          @include notification(#2A7FF3, #ffffff, -3.6rem, -1.6rem);

        }

        .announcement_icon {
          margin-top: 0.9rem;
          width: 2.5rem;
        }
      }

      .announcement_dropdown {
        display: none;
        position: absolute;
        top: 6.9rem;
        right: 8rem;
        width: 20rem;
        height: 30rem;
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        overflow: hidden; 

        transition: all 0.5s ease-in-out;

        .announcements {
          height: 91%; 
          overflow-y: auto; 

          &::-webkit-scrollbar {
            width: 3px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          &::-webkit-scrollbar-thumb {
            background: #979797;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          .announcementdata {
            background-color: #FFFFEE;
            padding: 1rem;

            .announcementflex {
              font-size: 0.8rem;
              display: flex;

              .announcementname {
                span {
                  color: #6E6E6E;
                }
              }

              .announcementimage {
                height: 1rem;
                width: 1rem;
                margin-left: auto;
                margin-top: 0.2rem;
              }
            }

            .announcementcontent {
              font-size: 1rem;
              padding-right: 1.2rem;
            }

            .announcementcourse {
              font-size: 0.8rem;
              margin: 0.4rem 0 0.4rem 0;

              span {
                color: #6E6E6E;
              }
            }

            .filedate {
              display: flex;
              align-items: center;

              .file {
                font-size: 0.7rem;

                img {
                  width: 0.7rem;
                  height: 0.7rem;
                }
              }

              .announcementdate {
                font-size: 0.7rem;
                color: #6E6E6E;
                margin-left: auto;
              }
            }

          }
        }


        .button {
          width: 20rem;
          padding: 0.8rem 0 0.8rem 0;
          display: flex;
          background-color: #FFFFFF;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          color: #1F7A54;
          font-size: 0.9rem;

          .showallbutton {
            width: 50%;
            border-right: 0.5px solid #0000001F;
            text-align: center;
          }

          .createnewbutton {
            width: 50%;
            text-align: center;
          }
        }
      }

      .account_div {
        margin-left: 3rem;

        .white_notification_count {
          @include notification(#ffffff, #333333, -4.4rem, -2rem);
        }

        .account_icon {
          margin-top: 1rem;
          width: 3.6rem;
        }
      }


      a>.hamburger {
        display: none;
        margin-left: 3rem;
        width: 3.6rem;
      }
    }


  }
}

.content {
  height: 56.98rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #eeeeee;

  .content__head {
    width: 95%;
    margin: 2rem;
    margin-top: 4rem;

    .course-bar {
      display: flex;
      flex-direction: row;
      justify-items: space-around;
      align-items: space-around;

      .courses {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        background-color: #8DDC97;
        font-size: 1.5rem;
      }

      div {
        img {
          width: 2.4rem;
        }

        &:nth-child(1) {
          border-bottom: 0.4rem solid #0f3f2b;
        }
      }
    }

    .info-bar {
      display: flex;
      align-items: center;
      width: 100%;
      height: 4rem;
      margin-top: 1rem;
      border-bottom: 1px solid #68686840;
      color: #686868;

      .info {
        margin-left: 0.2rem;
      }

      .sort_by {
        margin-left: auto;
        margin-right: 0.5rem;
      }

      .sort_by--category {
        display: flex;
        justify-content: space-between;
        width: 15rem;
        height: 3.7rem;
        margin-left: 0.5rem;
        margin-right: 1rem;
        margin-top: -1.3rem;
        color: #333333;
        border-bottom: 1px solid #68686840;

        p {
          font-size: 1.5rem;
        }

        img {
          width: 2.5rem;
          margin-top: 1rem;
        }
      }

      img {
        width: 1.3rem;
      }
    }
  }

  .content__body {
    height: 42rem;
    width: 97.5%;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: #eeeeee;

    .card {
      width: 95.5%;
      height: 95%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 77% 23%;
      background-color: white;

      .card_img {
        grid-column: 1/2;
        display: flex;
        align-items: center;

        img {
          width: 10rem;
          height: 12rem;
          margin-left: 2.5rem;
        }
      }

      .card_info {
        grid-column: 2/-1;
        padding-left: 1.2rem;

        .course_name {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-bottom: -0.7rem;
          font-size: 1.4rem;

          p {
            margin-right: auto;
            color: #333333;
          }

          img {
            width: 2rem;
            margin-right: 1rem;
          }
        }

        .course_subject {
          color: #686868;

          span {
            color: #1F7A54;
          }
        }

        .course_length {
          margin-top: 0.5rem;

          span {
            color: #686868;
          }
        }

        .course_class {
          display: flex;
          justify-content: space-between;
          width: 91%;
          height: 3.7rem;
          margin-top: -0.4rem;
          color: #333333;
          border-bottom: 1.5px solid #686868be;

          p {
            font-size: 1.4rem;
          }

          img {
            width: 2.3rem;
            margin-top: 1rem;
            margin-right: -0.6rem;
          }
        }

        .course_enroll_info {
          margin-top: 0.8rem;
          color: #686868;
        }
      }

      .card_footer {
        grid-column: 1/-1;
        display: inline-flex;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        border-top: 2px solid #68686834;
        margin: 0 1.5rem 0 2.4rem;
        padding-top: 1.2rem;
        margin-bottom: 0.8rem;

        img {
          width: 2rem;

          &:nth-child(2),
          &:nth-child(3) {
            width: 1.6rem;
          }
        }
      }


    }
  }
}

.footer {
  margin-top: auto;

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #1f7a54;

    .pipe {
      color: black;
    }
  }

  .copy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1607843137);
    font-size: 1.2rem;
    height: 3rem;

    .company {
      font-weight: bold;
    }
  }
}

// for 768 X 1024 
@import "mediaqueries";